@import '../../../styles/constants.scss';


.loading {
  @media (prefers-reduced-motion: no-preference) {
    animation: spin infinite 1s linear;
  }

  &.primary {
    color: $primary;
  }
  &.secondary {
    color: $secondary;
  }
  &.black {
    color: $black;
  }
  &.white {
    color: $white;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}