$primary-darker: #F18D00;
$primary-dark: #F5A500;
$primary: #F7B500;
$primary-light: #F9CB4D;
$primary-lighter: #FDE9B3;

$secondary-darker: #003845;
$secondary-dark: #005362;
$secondary: #006675;
$secondary-light: #4D949E;
$secondary-lighter: #B3D1D6;

$error-color: #920a00;
$success-color: #699c1c;

$white: #FFFFFF;
$black: #000000;

$size-xs: 2px;
$size-sm: 4px;
$size-md: 8px;
$size-lg: 16px;
$size-xl: 32px;
$size-xxl: 64px;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$font-xs: 8px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 15px;
$font-xl: 18px;
$font-xxl: 20px;